set_io clock P7
set_io leds[0] J11
set_io leds[1] K11
set_io leds[2] K12
set_io leds[3] K14
set_io leds[4] L12
set_io leds[5] L14
set_io leds[6] M12
set_io leds[7] N14
set_io hsync C7
set_io vsync C6
set_io red D6
set_io green D7
set_io blue D9
