set_io clock P7
set_io button P8
set_io led0 J11
set_io hsync C6
set_io vsync C7
set_io red[0] D6
set_io red[1] D7
set_io red[2] D9
set_io red[3] D10
set_io green[0] A11
set_io green[1] A10
set_io green[2] C10
set_io green[3] C9
set_io blue[0] B14
set_io blue[1] A12
set_io blue[2] D14
set_io blue[3] C14
